@model ProductVM

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient mt-0 py-3">
		<div class="col-12  text-center">
			<h2>@(Model.Product.Id != 0 ? "Update" : "Create") a product!</h2>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" enctype="multipart/form-data">
			<input asp-for="Product.Id" hidden />
			<input asp-for="Product.ImgUrl" hidden />
			<div class="row">
				<div class="col-9">
					<div class="wb-3 row p-1">
						<label asp-for="Product.Title" class="p-0"></label>
						<input asp-for="Product.Title" class="form-control" />
						<span asp-validation-for="Product.Title" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.Description" class="p-0"></label>
						<input asp-for="Product.Description" class="form-control" />
						<span asp-validation-for="Product.Description" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.ISBN" class="p-0"></label>
						<input asp-for="Product.ISBN" class="form-control" />
						<span asp-validation-for="Product.ISBN" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.Author" class="p-0"></label>
						<input asp-for="Product.Author" class="form-control" />
						<span asp-validation-for="Product.Author" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.ListPrice" class="p-0"></label>
						<input asp-for="Product.ListPrice" class="form-control" />
						<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.Price" class="p-0"></label>
						<input asp-for="Product.Price" class="form-control" />
						<span asp-validation-for="Product.Price" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.Price50" class="p-0"></label>
						<input asp-for="Product.Price50" class="form-control" />
						<span asp-validation-for="Product.Price50" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.Price100" class="p-0"></label>
						<input asp-for="Product.Price100" class="form-control" />
						<span asp-validation-for="Product.Price100" class="text-danger"></span>
					</div>
					<div class="wb-3 row p-1">
						<label asp-for="Product.CategoryId" class="p-0"></label>

						<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
							<option disabled selected> -Select Category- </option>
						</select>

						<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
					</div>
					<div class="form-floating p-1">
						<label asp-for="@Model.Product.ImgUrl" class="p-0"></label>
						<input type="file" name="file" class="form-control" value="@Model.Product.ImgUrl" />
					</div>
					<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
				</div>
				<div class="col-3">
					<img src="@Model.Product.ImgUrl" width="100%" />
				</div>
			</div>
		</form>

	</div>
</div>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
